
.container {
    width: 1170px;
    @media (max-width: $width-lg){
            width: 100%;
    }
}

.section {
    position: relative;
}

form {
    label {
        font-weight: normal !important;
    }

    input, select, textarea, button {

        @include border-radius(0);
        box-shadow: none !important;
        border-color: $brand-black !important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal !important;

        &:focus {
            border-color: #000000 !important;
        }
    }

    input, select, textarea, button {

        &:not([type="checkbox"]) {
            -webkit-appearance: none;
            -moz-appearance:    none;
            appearance:         none;
        }
    }

    input, select, textarea {
        color: #000000;
     }

    .form-horizontal {
        margin-bottom: 30px;
        label {
            font-weight: normal !important;
            text-align: left !important;
        }
    }

    .form-inline {
        label {
            display: block;
            float: left;
        }
        
        input {
            float: none !important;
        }

        .form-group {
            margin: 0 !important;
            width: 100%;
        }
    }

    .form-3-char {
        width: 40% !important;
        display: block;
    }
}


h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

hr {
    border-color: $brand-vGrey;
}

.hrule {
    hr {
        margin: 0 0 15px 0;
    }
}

.checkbox-right {
    position: relative;
    width: 100%;
    min-height: 30px;
    span {
        display: inline-block;
        padding-right: 27px;
    }
    input {
        position: absolute;
        right: 0;
        top: 2px;
        width: 15px;
        height: 15px;
    }
}





