
.container {
    width: 1170px;
    @media (max-width: $width-lg){
            width: 100%;
    }
}

.section {
    position: relative;
}

a {
    @include transition(color 0.5s);

    &:hover {
        color: $brand-blue;
    }
}





