
.container {
    width: 1170px;
    @media (max-width: $width-lg){
            width: 100%;
    }
}

.section {
    position: relative;
}

form {
    label {
        font-weight: normal !important;
    }

    input, select, textarea, button {
        @include border-radius(0);
        box-shadow: none !important;
        border-color: $brand-black !important;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal !important;

        &:focus {
            border-color: #000000 !important;
        }

        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
    }

    input, select, textarea {
        color: #000000;
     }

    .form-horizontal {
        margin-bottom: 30px;
        label {
            font-weight: normal !important;
            text-align: left !important;
        }
    }
}


h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}





