@import "variables";
@import "mixins";
@import "fonts";
@import "scaffolding";
@import "buttons";

html { overflow-y: scroll; }

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    font-size: 16px;
}

.header-login {

    .container {
        background: url("../images/cc-shield.png") 15px 0 no-repeat;
        @include transition(background, 0.5s);

        @media (max-width: $width-sm){
            background-position: -85px 0;
        }
    }

    height: 35px;
    background: url("../images/texture-red.png") 0 0 $brand-red;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    @include transition(height 0.2s);

    .navigation {
        @extend %cleanUl;
        float: right;
        height: 35px;

        a {
            text-transform: uppercase;
            display: block;
            padding: 0 15px;
            border-left: 1px dotted $brand-white;
            text-decoration: none;
            font-weight: bold;
            color: $brand-white;

            &:hover {
                color: #ffffff;
            }
        }

        li {
            float: left;
            padding: 7px 0;
            .text {
                @extend %visuallyHidden;
            }

            &:first-child {
                a {
                    border-left: none;
                }
            }
        }
    }

    .hide-menu { display: none; }
    .show-menu { display: block; }

    &.open {
        .hide-menu { display: block; }
        .show-menu { display: none; }

        @include dropshadow();
        .container {
            background-image: url("../images/cc-shield-open.png");
        }
    }

    .login-form {
        padding: 15px 0;
        float: left;
        width: 100%;
        text-align: right;

        label {
            margin-left: 15px;
            margin-right: 5px;
            color: #ffffff;
            text-transform: capitalize;
            @media (max-width: $width-sm - 1){
                display: none;
            }
        }

        input {
            border: none;
        }

        button {
            color: #ffffff;
            background: none;
            padding-right: 0;
            border: none;
            text-transform: uppercase;
            font-weight: bold;
            margin-left: 15px;
            &:hover {
                color: $brand-white;
            }
            &:focus {
                border-color: $brand-white;
            }
        }

        a {
            display: inline-block;
            padding: 6px 0;
            margin-left: 30px;
            text-decoration: none;
            color: #ffffff;
            &:hover {
                color: $brand-white;
            }

            @media (max-width: $width-sm - 1){
                float: left;
                margin-left: 0 !important;
            }
        }
    }
}

.header-title {

    .container {
        padding-top: 35px;
        padding-bottom: 10px;
        background: url("../images/cc-shield.png") 15px 0 no-repeat;
        @include transition(background, 0.5s);

        @media (max-width: $width-sm){
            background-position: -85px 0;
        }
    }

    &.open {
        .container {
            background-image: url("../images/cc-shield-open.png");
        }
    }

    background: url("../images/texture-blue.png") 0 0 $brand-blue;

    .header-box {
        position: relative;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 100;
        color: $brand-white;
        margin: 0;
        padding: 0;

        a {
            display: inline-block;
            text-decoration: none;
            color: $brand-white;
            &:hover {
                color: #ffffff;
            }
        }

        .text {
            display: inline-block;
            font-size: 1.6em;
            border-bottom: 1px solid $brand-white;
            letter-spacing: 3px;
        }

        .imagery {
            padding-top: 5px;
            display: block;
        }
    }

    .toggle-navigation {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -15px;
        color: $brand-white !important;
        outline: none !important;
        &:hover {
            color: #ffffff !important;
        }

        @media (max-width: $width-sm){
            margin-top: -6px;
        }
    }

    @media (max-width: $width-sm){

        h1 {
            text-align: left;
            .text {
                display: none;
            }

            .imagery {
                width: 240px;

                img {
                    width: 100%;
                }
            }
        }
    }

    .header-links {
        padding-top: 10px;
        @extend %cleanUl;
        text-align: center;
        li { display: inline; }

        a {
            display: inline-block;
            font-size: 1.5em;
            padding: 15px 10px;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            text-decoration: none;
            @include transition(color, 0.25s);

            &:hover {
                color: $brand-white;
            }
        }

        @media (max-width: $width-md) {
            a {
                font-size: 1.0em;
                padding: 8px 10px;
            }
        }

        @media (max-width: $width-sm) {
            a {
                display: block;
                text-align: right;
                padding: 10px;
            }
        }
    }
    
    .main-navigation {
        position: relative;
        &.animate {
            @include transition(height, 0.25s);
        }
    }
}

.js .main-navigation {
    height: 0;
}

.institution {
    background: $brand-coal;
    text-align: center;

    .form-box {
        position: relative;
    }

    label {
       @extend %visuallyHidden;
    }

    input {
        height: auto;
        margin: 10px 0;
        font-size: 0.9em;
        text-transform: uppercase;
        width: 70% !important;
        display: block !important;
        text-shadow: none !important;
    }

    .form-group {
        width: 100%;
        margin-bottom: 0;
    }

    .shopping-basket-link {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -28px;
        font-size: 2.5em;
        color: $brand-red;
        padding-right: 4px;

        .items {
            position: absolute;
            top: 6px;
            right: 0;
            width: 15px;
            height: 15px;
            @include border-radius(50%);
            background-color: #ffffff;
            font-size: 0.3em;
            font-weight: bold;
        }
    }

    form {

        .input-wrapper {
            position: relative;

            i {
                position: absolute;
                left: 10px;
                top: 50%;
                margin-top: -8px;
                font-size: 1.2em;
                display: none;
            }
        }

        &.loading {
            .form-control {
                padding-left: 40px;
                text-align: left;
            }

            i {
                display: block;
            }
        }
    }

    @media (min-width: $width-sm + 1){
        form {
            display: inline-block;
            background: url("../images/bg-form-institution-left.gif") 0 0 no-repeat #ffffff;
            background-size: contain;
            padding-left: 120px;
        }

        .form-group {
            background: url("../images/bg-form-institution-right.gif") top right no-repeat #ffffff;
            background-size: contain;
            padding-right: 120px;
        }

        input {
            width: 470px !important;
            height: 40px;
            font-size: 1.6em;
            line-height: 40px;
            text-align: center;
        }
    }
}

.institution-image {

    .hero {
        width: 100% !important;
    }

    @media (max-width: $width-lg){
        .container {
            padding: 0;
        }
    }

}

.large-cta {
    background: $brand-blue;
    padding: 10px;
    margin: 15px 0;
    color: $brand-white;
    text-transform: uppercase;
    text-align: center;

    strong {
        color: #ffffff;
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 1.2em;
    }

    i {
        margin: 0 10px;
        @media (max-width: $width-md){
            display: none;
        }
    }
}

.products-list {
    padding-top: 15px;

    .row {
        padding-bottom: 30px;
    }

    .product-image {
        width: 100%;
        padding-bottom: 10px;
    }

    .item-description {
    }

    .underline {
        position: relative;
        $inset: 12%;

        hr {
            margin-top: 10px;
            border-top: 2px solid $brand-red;
            margin-left: -$inset;
        }

        .dot {
            display: inline-block;
            width: 30px;
            height: 30px;
            background: $brand-red;
            @include border-radius(50%);
            position: absolute;
            left: -$inset;
            top: 50%;
            margin-top: -15px;
        }

        @media (max-width: $width-sm){
            hr {
                border-width: 1px;
                margin: -2px 0 5px 0;
            }

            .dot {
                display: none;
            }
        }
    }

    .title {
        text-transform: uppercase;
        font-size: 2.0em;
        font-weight: bold;
        margin: 0;
        padding: 0 0 10px 0;
        a {
            text-decoration: none;
            color: $brand-blue;
        }
        @media (max-width: $width-md){
            font-size: 1.5em;
        }
    }
}

.footer {
    background: url("../images/texture-blue.png") 0 0 $brand-blue;

    .container {
        padding-top: 15px;
        padding-bottom: 15px;
        background: url("../images/cc-shield-small.png") right -40px no-repeat;
    }
    
    .footer-links {
        text-align: center;
        @extend %cleanUl;

        li {
            display: inline;

            a {
                display: inline-block;
                color: #ffffff;
                font-size: 1.0em;
                text-transform: uppercase;
                padding: 10px;
                text-decoration: none;

                &:hover {
                    color: $brand-white;
                }
            }
        }
    }

    .footer-copy {
        text-align: center;
        color: #ffffff;
        font-size: 0.85em;
        padding: 15px 0;

        a {
            color: $brand-white;
            text-decoration: none;

            &:hover {
                color: #ffffff;
            }
        }
    }
}




