@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.header-login .navigation {
  margin: 0;
  padding: 0;
  list-style: none; }

.header-login .navigation li .text, .header-title .open-menu-btn .text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.container {
  width: 1170px; }
  @media (max-width: 1200px) {
    .container {
      width: 100%; } }

.section {
  position: relative; }

a {
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }
  a:hover {
    color: #00365a; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff; }

.header-login {
  height: 35px;
  background: url("../images/texture-red.png") 0 0 #98322e;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  -webkit-transition: height 0.2s;
  transition: height 0.2s; }
  .header-login .container {
    background: url("../images/cc-shield.png") 0 0 no-repeat; }
  .header-login .navigation {
    float: right;
    height: 35px; }
    .header-login .navigation a {
      text-transform: uppercase;
      color: #faf6dd;
      display: block;
      padding: 0 15px;
      border-left: 1px dotted #faf6dd;
      text-decoration: none;
      font-weight: bold; }
      .header-login .navigation a i {
        color: #faf6dd; }
      .header-login .navigation a:hover {
        color: #ffffff; }
    .header-login .navigation li {
      float: left;
      padding: 7px 0; }
      .header-login .navigation li:first-child a {
        border-left: none; }
  .header-login #login-form {
    margin-top: 36px;
    height: 115px; }

.header-title {
  background: url("../images/texture-blue.png") 0 0 #00365a; }
  .header-title .container {
    padding-top: 35px;
    padding-bottom: 10px;
    background: url("../images/cc-shield.png") 0 0 no-repeat; }
  .header-title .header-box {
    position: relative; }
  .header-title h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    color: #faf6dd;
    margin: 0;
    padding: 0; }
    .header-title h1 a {
      display: inline-block;
      color: #faf6dd;
      text-decoration: none; }
      .header-title h1 a:hover {
        color: #ffffff; }
    .header-title h1 .text {
      display: inline-block;
      font-size: 1.6em;
      border-bottom: 1px solid #faf6dd;
      letter-spacing: 3px; }
    .header-title h1 .imagery {
      padding-top: 5px;
      display: block; }
  .header-title .open-menu-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -35px;
    font-size: 5.0em;
    color: #faf6dd;
    text-decoration: none; }
    .header-title .open-menu-btn:hover {
      color: #ffffff; }
    .header-title .open-menu-btn .hide-menu {
      display: none; }
    .header-title .open-menu-btn .show-menu {
      display: block; }
    .header-title .open-menu-btn.click-to-close .hide-menu {
      display: block; }
    .header-title .open-menu-btn.click-to-close .show-menu {
      display: none; }
