@import url("https://fonts.googleapis.com/css?family=Lato");
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

@media (max-width: 1200px) {
  .container {
    width: 100%; } }

body {
  font-family: 'Lato';
  font-size: 1.6rem;
  background-color: blue; }
