@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.header-login .navigation, .header-title .header-links, .footer .footer-links {
  margin: 0;
  padding: 0;
  list-style: none; }

.header-login .navigation li .text, .header-login #login-form .close-login-btn .text, .header-title .toggle-btn .text, .institution label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.container {
  width: 1170px; }
  @media (max-width: 1200px) {
    .container {
      width: 100%; } }

.section {
  position: relative; }

form label {
  font-weight: normal !important; }

form input, form select, form textarea, form button {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  border-color: #6a6a6a !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  form input:focus, form select:focus, form textarea:focus, form button:focus {
    border-color: #000000 !important; }

form input, form select, form textarea {
  color: #000000; }

.btn-product {
  background-color: #98322e;
  color: #faf6dd;
  -moz-transition: all, 0.25s;
  -o-transition: all, 0.25s;
  -webkit-transition: all, 0.25s;
  transition: all, 0.25s;
  padding: 12px 20px;
  -webkit-border-radius: 4% !important;
  -moz-border-radius: 4% !important;
  border-radius: 4% !important; }
  .btn-product:hover, .btn-product:focus {
    color: #ffffff;
    background-color: #712522; }
  .btn-product:focus {
    color: #ffffff;
    background-color: #6a6a6a; }
  @media (max-width: 992px) {
    .btn-product {
      padding: 6px 12px; } }

html {
  overflow-y: scroll; }

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  font-size: 16px; }

.header-login {
  height: 35px;
  background: url("../images/texture-red.png") 0 0 #98322e;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  -webkit-transition: height 0.2s;
  transition: height 0.2s; }
  .header-login .container {
    background: url("../images/cc-shield.png") 15px 0 no-repeat; }
    @media (max-width: 768px) {
      .header-login .container {
        background-position: -245px 0; } }
  .header-login .navigation {
    float: right;
    height: 35px; }
    .header-login .navigation a {
      text-transform: uppercase;
      display: block;
      padding: 0 15px;
      border-left: 1px dotted #faf6dd;
      text-decoration: none;
      font-weight: bold;
      color: #faf6dd; }
      .header-login .navigation a:hover {
        color: #ffffff; }
    .header-login .navigation li {
      float: left;
      padding: 7px 0; }
      .header-login .navigation li:first-child a {
        border-left: none; }
  .header-login .hide-menu {
    display: none; }
  .header-login .show-menu {
    display: block; }
  .header-login.open {
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.29); }
    .header-login.open .hide-menu {
      display: block; }
    .header-login.open .show-menu {
      display: none; }
    .header-login.open .container {
      background-image: url("../images/cc-shield-open.png"); }
  .header-login #login-form {
    padding: 15px 0;
    float: left;
    width: 100%;
    text-align: right; }
    .header-login #login-form label {
      margin-left: 15px;
      margin-right: 5px;
      color: #ffffff;
      text-transform: capitalize; }
      @media (max-width: 767px) {
        .header-login #login-form label {
          display: none; } }
    .header-login #login-form input {
      border: none; }
    .header-login #login-form button {
      color: #ffffff;
      background: none;
      padding-right: 0;
      border: none;
      text-transform: uppercase;
      font-weight: bold;
      margin-left: 15px; }
      .header-login #login-form button:hover {
        color: #faf6dd; }
      .header-login #login-form button:focus {
        border-color: #faf6dd; }
    .header-login #login-form a {
      display: inline-block;
      padding: 6px 0;
      margin-left: 30px;
      text-decoration: none;
      color: #ffffff; }
      .header-login #login-form a:hover {
        color: #faf6dd; }
      @media (max-width: 767px) {
        .header-login #login-form a {
          float: left;
          margin-left: 0 !important; } }

.header-title {
  background: url("../images/texture-blue.png") 0 0 #00365a; }
  .header-title .container {
    padding-top: 35px;
    padding-bottom: 10px;
    background: url("../images/cc-shield.png") 15px 0 no-repeat; }
    @media (max-width: 768px) {
      .header-title .container {
        background-position: -245px 0; } }
  .header-title.open .container {
    background-image: url("../images/cc-shield-open.png"); }
  .header-title .header-box {
    position: relative; }
  .header-title h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    color: #faf6dd;
    margin: 0;
    padding: 0; }
    .header-title h1 a {
      display: inline-block;
      text-decoration: none;
      color: #faf6dd; }
      .header-title h1 a:hover {
        color: #ffffff; }
    .header-title h1 .text {
      display: inline-block;
      font-size: 1.6em;
      border-bottom: 1px solid #faf6dd;
      letter-spacing: 3px; }
    .header-title h1 .imagery {
      padding-top: 5px;
      display: block; }
  .header-title .toggle-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -15px;
    text-decoration: none;
    color: #faf6dd;
    outline: none !important; }
    .header-title .toggle-btn:hover {
      color: #ffffff; }
    .header-title .toggle-btn .hide-menu {
      display: none; }
    .header-title .toggle-btn .show-menu {
      display: block; }
    .header-title .toggle-btn.click-to-close .hide-menu {
      display: block; }
    .header-title .toggle-btn.click-to-close .show-menu {
      display: none; }
  @media (max-width: 768px) {
    .header-title h1 {
      text-align: left; }
      .header-title h1 .text {
        display: none; }
      .header-title h1 .imagery {
        width: 220px; }
        .header-title h1 .imagery img {
          width: 100%; }
    .header-title .menu-toggle-btn {
      margin-top: -20px;
      font-size: 2.0em; } }
  .header-title .header-links {
    text-align: center; }
    .header-title .header-links li {
      display: inline; }
    .header-title .header-links a {
      display: inline-block;
      font-size: 1.5em;
      padding: 15px 10px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      text-decoration: none;
      -moz-transition: color, 0.25s;
      -o-transition: color, 0.25s;
      -webkit-transition: color, 0.25s;
      transition: color, 0.25s; }
      .header-title .header-links a:hover {
        color: #faf6dd; }
    @media (max-width: 992px) {
      .header-title .header-links a {
        font-size: 1.0em;
        padding: 8px 10px; } }
    @media (max-width: 768px) {
      .header-title .header-links a {
        display: block;
        text-align: right;
        padding: 10px; } }
  .header-title .main-navigation {
    position: relative; }
    .header-title .main-navigation.animate {
      -moz-transition: height, 0.25s;
      -o-transition: height, 0.25s;
      -webkit-transition: height, 0.25s;
      transition: height, 0.25s; }

.js .main-navigation {
  height: 0; }

.institution {
  background: #adadad;
  text-align: center; }
  .institution .form-box {
    position: relative; }
  .institution input {
    height: auto;
    margin: 10px 0;
    font-size: 0.9em;
    text-transform: uppercase;
    width: 70% !important;
    display: block !important;
    text-shadow: none !important; }
  .institution .form-group {
    width: 100%;
    margin-bottom: 0; }
  .institution .shopping-basket-link {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -28px;
    font-size: 2.5em;
    color: #98322e;
    padding-right: 4px; }
    .institution .shopping-basket-link .items {
      position: absolute;
      top: 6px;
      right: 0;
      width: 15px;
      height: 15px;
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      border-radius: 50% !important;
      background-color: #ffffff;
      font-size: 0.3em;
      font-weight: bold; }
  .institution form .input-wrapper {
    position: relative; }
    .institution form .input-wrapper i {
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -8px;
      font-size: 1.2em;
      display: none; }
  .institution form.loading .form-control {
    padding-left: 40px;
    text-align: left; }
  .institution form.loading i {
    display: block; }
  @media (min-width: 769px) {
    .institution form {
      display: inline-block;
      background: url("../images/bg-form-institution-left.gif") 0 0 no-repeat #ffffff;
      background-size: contain;
      padding-left: 120px; }
    .institution .form-group {
      background: url("../images/bg-form-institution-right.gif") top right no-repeat #ffffff;
      background-size: contain;
      padding-right: 120px; }
    .institution input {
      width: 470px !important;
      height: 40px;
      font-size: 1.6em;
      line-height: 40px;
      text-align: center; } }

.large-cta {
  background: #00365a;
  padding: 10px;
  margin: 15px 0;
  color: #faf6dd;
  text-transform: uppercase;
  text-align: center; }
  .large-cta strong {
    color: #ffffff; }
  .large-cta p {
    margin: 0;
    padding: 0;
    font-size: 1.2em; }
  .large-cta i {
    margin: 0 10px; }
    @media (max-width: 992px) {
      .large-cta i {
        display: none; } }

.products-list {
  padding-top: 15px; }
  .products-list .row {
    padding-bottom: 30px; }
  .products-list .product-image {
    width: 100%;
    padding-bottom: 10px; }
  .products-list .underline {
    position: relative; }
    .products-list .underline hr {
      margin-top: 10px;
      border-top: 2px solid #98322e;
      margin-left: -12%; }
    .products-list .underline .dot {
      display: inline-block;
      width: 30px;
      height: 30px;
      background: #98322e;
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      border-radius: 50% !important;
      position: absolute;
      left: -12%;
      top: 50%;
      margin-top: -15px; }
    @media (max-width: 768px) {
      .products-list .underline hr {
        border-width: 1px;
        margin: -2px 0 5px 0; }
      .products-list .underline .dot {
        display: none; } }
  .products-list .title {
    text-transform: uppercase;
    font-size: 2.0em;
    font-weight: bold;
    margin: 0;
    padding: 0 0 10px 0; }
    .products-list .title a {
      text-decoration: none;
      color: #00365a; }
    @media (max-width: 992px) {
      .products-list .title {
        font-size: 1.5em; } }

.footer {
  background: url("../images/texture-blue.png") 0 0 #00365a; }
  .footer .container {
    padding-top: 15px;
    padding-bottom: 15px;
    background: url("../images/cc-shield-small.png") right -40px no-repeat; }
  .footer .footer-links {
    text-align: center; }
    .footer .footer-links li {
      display: inline; }
      .footer .footer-links li a {
        display: inline-block;
        color: #ffffff;
        font-size: 1.0em;
        text-transform: uppercase;
        padding: 10px;
        text-decoration: none; }
        .footer .footer-links li a:hover {
          color: #faf6dd; }
  .footer .footer-copy {
    text-align: center;
    color: #ffffff;
    font-size: 0.85em;
    padding: 15px 0; }
    .footer .footer-copy a {
      color: #faf6dd;
      text-decoration: none; }
      .footer .footer-copy a:hover {
        color: #ffffff; }
